.modal-dialog-in {
  max-width: 600px;
}
.modal-dialog-width {
  max-width: 700px;
}
.modal-body-info {
  /* text-align: justify; */
  color: aliceblue;
  font-weight: bold;
}
.modal-body-info a {
  color: #27408b;
  text-decoration: none;
}

.btn-group {
  text-align: center;
}

.text-change-color {
  color: white;
}
.form-bg {
  background: #61808a;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
}

.btn-form-reg {
  padding: 0.2rem 1.8rem;
  background: rgba(53, 196, 232, 0.8);
  border: 4px solid rgba(147, 146, 146, 0.8);
  border-radius: 0.8rem;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.btn-form-sign-in {
  padding: 0.2rem 3.5rem;
  background: rgba(53, 196, 232, 0.8);
  border: 4px solid rgba(147, 146, 146, 0.8);
  border-radius: 0.8rem;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
}

form .mb-1 .col-form-label {
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 0;
}
.form-consent {
  font-size: 0.8rem;
  display: inline;
}
.form-control {
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

input.form-control:invalid:not(:placeholder-shown) {
  border-color: red;
}
input.form-control:valid:not(:placeholder-shown) {
  border-color: green;
}

@media (max-width: 414px) {
  .modal-body-info {
    font-size: 0.9rem;
  }
  .form-bg {
    padding: 1rem;
  }
}
@media (max-width: 375px) {
  .form-account-item {
    line-height: 1;
  }
  .form-control {
    padding: 0.2rem 0.5rem;
    font-size: 0.75rem;
  }
}
