.link-window {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.link-text {
  font: normal 500 0.7rem/1rem Roboto;
  margin-bottom: 1.5rem;
}
.links {
  font: normal 500 0.5rem/1rem Roboto;
  color: #000;
}
