.rangemodal,
.pauseModal {
    display: grid;
    display: -ms-grid;
    justify-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2500;
  }
  .pause-control-panel {
    align-self: center;
    margin-bottom: 0;
    grid-template-rows: 36%;
  }
  .pause-control-panel-buttons{
    align-self: flex-start;
    justify-self: center;
    display: grid;
}
  
  .rangemodal__window {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }
  
  .rangemodal__content{
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 30rem));
    -ms-grid-columns: repeat(auto-fit, minmax(7rem, 30rem));
    background-color: #fff;
    padding: 2rem 3rem;
    position: relative;
    border: 0.76vh solid #959595;
    border-radius: 3vh;
    font: normal 500 0.9rem/1rem Roboto;
  }
  
  .img__close {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #ccc;
    padding: 3px;
  }
  
  .button__close {
    height: 2rem;
    width: 4rem;
    border: 0.76vh solid #939292;
    border-radius: 3vh;
    background: #c4c4c4;
    cursor: pointer;
    font: normal 500 1.2rem/1.2rem Roboto;
    display: block;
    margin: 2rem auto 1rem auto;
  }

  .img__close:hover,
.button__close:hover {
  background: #fff;
}

@media (max-width: 768px) {
    .rangemodal__window{
      width: 90%;
    }
    .pause-control-panel {
      grid-template-rows: 14rem;
      grid-template-columns: 14rem;
  }
    .pause-control-panel {
        width: 14rem;
      }
      .pause-control-panel-buttons{
        height: 14rem;
    }
}
@media (max-width: 375px) {
    .rangemodal__content {
     min-width: 90%;
     padding: 1.5rem 2rem;
    }
  }
  @media (max-width: 320px){
    .pause-control-panel {
      grid-template-rows: 12rem;
      grid-template-columns: 12rem;
  }
    .pause-control-panel {
    width: 12rem;
}
.pause-control-panel-buttons{
    height: 12rem;
}
  }
  