/* .team {
  grid-template-areas:
    "wel wel title nav ."
    "info info info info info"
    "best best best go .";
} */
.team .info-window {
  /* grid-area: info; */
  grid-column: 1/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;

}
.team-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(7rem, 100vw));
  -ms-grid-columns: 1fr;
  background-color: #fff;
}
.content-team {
  border: none;
  margin: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0;
  text-align: start;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
}
.team-window {
  display: grid;
  display: -ms-grid;
  justify-self: center;
  padding: 0.3rem 0;
  margin: 0;
  height: 100%;
}

.persona {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 17% 83%;
  -ms-grid-columns: 17% 83%;
}
.team-block {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
  -ms-grid-columns: 1fr;
  align-content: space-evenly;
  gap: 0.5rem;
  -ms-grid-row-align: center;
}
.persona-img {
  display: grid;
  display: -ms-grid;
  align-self: center;
}
.persona-text {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  align-content: center;
  padding-left: 3%;
  gap: 0.2rem;
}
.persona-img > img {
  align-self: center;
  object-fit: cover;
}
.persona-text h1 {
  font-size: 1rem;
}
.persona-text p {
  font-size: 0.5rem;
}
p.email {
  color:#2388e5; 
}
.persona-text h1,
.persona-text p {
  margin-bottom: 0;
  align-self: center;
}

.partners-block {
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr;
}
.p1, .p2, .p3 {
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
}
.p1 {
  -ms-grid-column: 1;
}
.p2 {
  -ms-grid-column: 2;
}
.p3 {
  -ms-grid-column: 3;
}
.partners-img {
  justify-self: center;
  align-self: center;
  width: 60%;
}
.partners-img:first-child,
 .partners-img:last-child { 
align-self: flex-end;
 }
 .partners-img img {
  -webkit-box-shadow: 2px 2px 7px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 7px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 7px 2px rgba(34, 60, 80, 0.2);
}
.partners-img p {
  font-style: normal;
  text-align: center;
}

/* @media (max-width: 1024px) {
  .team {
    grid-template-areas:
      "wel nav"
      "title title"
      "info info"
      "best go";
  }
} */

@media (max-width: 890px) {
  /* .team {
    grid-template-areas:
      "wel go"
      "title title"
      "info info"
      "best nav";
  } */
  .partners-img p {
    font-size: 0.7rem;
}
}
@media (max-width: 540px) {
  /* .team {
    grid-template-areas:
      "wel wel"
      "title title"
      "info info"
      "go nav"
      "best best";
  } */
  .team-block {
    grid-template-columns: repeat(auto-fit, 95%);
    -ms-grid-columns: repeat(auto-fit, 95%);
    justify-content: center;
}
}
@media (max-width: 520px) {
  /* .team {
    grid-template-areas:
      "wel "
      "title"
      "info "
      "go"
      "nav "
      "best ";
  } */
  .partners-block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.7fr;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 0.5fr 0.7fr;
  }
  .partners-img a{
    display: grid;
    display: -ms-grid;
    justify-items: center;
    width: 100%;
  }
  .partners-img {
    width: 100%;
}
  .partners-img img:first-child {
    width: 30%;
  }
  .partners-img:first-child,
 .partners-img:last-child { 
align-self: center;
 }
}
